*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-family: "PT Serif", serif;
  font-weight: bold;
  letter-spacing: -0.045em;
  font-size: 36px;
  line-height: 48px;
}

h3 {
  margin-top: 36px;
}

h3,
.role {
  text-transform: uppercase;
}

h5 {
  margin-top: 10px;
  font-size: 14px;
  line-height: 21px;
}

.flex {
  display: flex;
  gap: var(--space, 1em);
}

.grid {
  margin-top: 75px;
  display: grid;
  gap: var(--space, 2em);
  grid-template-columns: repeat(2, 1fr);
}

.user:nth-of-type(even) {
  margin-top: 33px;
}

.user > .flex {
  --space: 0;
}

.role {
  font-weight: 400;
  writing-mode: vertical-lr;
  font-family: "PT Serif", serif;
  font-size: 10px;
  line-height: 13px;
}

.container {
  width: 66.67%;
  margin: 100px auto 10px auto;
}

.description {
  margin-top: 10px;
}

.footer {
  margin-top: 67px;
  color: hsla(0, 0%, 66%, 1);
  text-align: center;
  font-size: 14px;
}

.footer > strong {
  text-decoration: underline;
}

@media only screen and (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .user:nth-of-type(even) {
    margin-top: 0;
  }
  .user:nth-of-type(3n + 2) {
    margin-top: 100px;
  }

  .introduction {
    display: flex;
    align-items: center;
  }

  .introduction > * {
    flex: 1;
  }

  h5 {
    font-size: 18px;
    line-height: 27px;
  }

  .role {
    font-size: 12px;
    line-height: 16px;
  }
}
